<div class="nav">
  <input type="checkbox" id="nav-check" style="display: none;">
  <div class="nav-header">
    <div class="nav-title">
      Animal Sitter
    </div>
  </div>
  <!-- <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div> -->

  <div class="nav-links">
    <a (click)="uncheck()" routerLink="/">Accueil</a>
    <a (click)="uncheck()" routerLink="/devenir-membre">Inscription</a>
    <a (click)="uncheck()" routerLink="/connection">Se connecter</a>
    <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
    <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
  </div>
  <!-- <div class="profil">{{username}}</div> -->

  <div class="containerr">
    <!-- Btn-->
    <button class="btn"><span>{{username |uppercase}}</span><i class="material-icons">account_circle</i>
      <ul class="dropdown">
        <li><a href="#">Mon compte</a></li>
        <li><a>Mes animaux</a></li>
        <li><a>Mes sitting</a></li>
        <li><a href="#">Help</a></li>
        <li><a (click)="logout()">Log Out</a></li>
      </ul>
    </button>
  </div>
</div>
