<div class="wrapperr">
  <div class="img">
  </div>
  <div class="info">
    <p>Hébergez un animal, ou faites garder le votre gratuitement !</p>
    <!-- <div style="width: 100px; height: 100px; background: blue;"></div> -->
    <div id="container">
      <!-- <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span  routerLink="/devenir-membre" class="button-text">Je m'inscris</span>
      </button> -->
    </div>
  </div>
</div>
